.wrap {
  width: 640px;
  margin: 0 auto;

  .top-section {
    display: flex;

    .left-section {
      display: flex;
      flex-wrap: wrap;

      .text {
        width: 288px;
        margin: 0 20px 24px;
        font-size: 20px;
        line-height: 1.2;
      }
    }

    .right-section {
      background-color: aqua;
      width: 216px;
      height: 216px;
    }
  }

  .bottom-section {
    background-color: antiquewhite;
    padding: 60px;
  }
}