.wrap {
  width: 1920px;
  margin: 0 auto;

  .title-skills {
    background-color: #415165;
    color: #FFFFFF;
    font-family: 'San Francisco', Helvetica, Arial, san-serif;
    height: 460px;

    h2 {
      font-size: 32px;
      padding-top: 29.5px;
      padding-bottom: 13.5px;
      width: 996px;
      border-bottom: 1px solid #FFFFFF;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 462px;

      span {
        margin-left: 16px;
        font-size: 24px;
      }
    }

    .skills-content {
      margin-top: 40px;
      margin-bottom: 52px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-size: 24px;
      padding-left: 24px;
      border-left: 1px solid #FFFFFF;
      margin-left: 852px;

      ul {
        line-height: 36px;

        li {
          margin-bottom: 8px;
        }
      }
    }
  }
}

.content {
  width: 1200px;

  .title-name {
    padding-top: 40px;
    padding-bottom: 24px;
    border-bottom: 2px solid black;

    h1 {
      font-size: 80px;
    }
  }

  .title-picture {
    margin-top: 48px;
    margin-bottom: 48px;
  }

  .title-profile {
    h2 {
      font-size: 32px;
      display: flex;
      align-items: center;
      font-weight: 600;
      font-family: 'San Francisco', Helvetica, Arial, san-serif;
      line-height: 48px;
      margin-bottom: 8px;
      border-bottom: 1px solid black;

      span {
        margin-left: 16px;
        font-size: 24px;
        color: #A00404;
        font-weight: 600;
      }
    }

    .profile-content {
      font-family: PingFangTC-Regular, sans-serif;
      font-size: 24px;
      line-height: 36px;

      .content-part1 {
        margin-top: 16px;
        margin-bottom: 24px;
      }

      .content-part2 {
        margin-bottom: 72px;
      }
    }
  }

  .title-education {
    h2 {
      font-size: 32px;
      display: flex;
      align-items: center;
      font-weight: 600;
      font-family: 'San Francisco', Helvetica, Arial, san-serif;
      line-height: 48px;
      margin-bottom: 16px;
      border-bottom: 1px solid black;

      span {
        margin-left: 16px;
        font-size: 24px;
        color: #A00404;
        font-weight: 600;
      }
    }

    .education-content {
      font-family: PingFangTC-Regular, sans-serif;
      font-size: 24px;
      margin-bottom: 72px;

      ul {
        line-height: 36px;

        .first {
          margin-bottom: 16px;
        }
      }
    }
  }

  .title-exp {
    padding-top: 72px;
    padding-bottom: 8px;
    font-size: 32px;

    h2 {
      padding-top: 6.5px;
      padding-bottom: 14.5px;
      font-weight: 600;
      font-family: 'San Francisco', Helvetica, Arial, san-serif;
      display: flex;
      align-items: center;
      border-bottom: 1px solid black;

      span {
        margin-left: 16px;
        font-size: 24px;
        color: #A00404;
      }
    }

    .exp-content {
      margin-top: 16px;
      margin-left: 24px;
      margin-bottom: 72px;
      padding-left: 24px;
      border-left: 1px solid #96A9C4;
      max-width: 624px;
      font-family: PingFangTC-Regular, sans-serif;

      ul {
        line-height: 36px;

        li {
          margin-top: 24px;
          font-weight: bold;
        }
      }

      p {
        font-size: 20px;
      }

      .hex-exp {
        img {
          margin-top: 8px;
          margin-bottom: 8px;
        }

        p {
          line-height: 30px;
        }
      }

      .work-exp-list {

        img {
          width: 100px;

          margin-top: 8px;
          margin-bottom: 8px;
        }
      }
    }
  }
}

.footer {
  background-color: #415165;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFFFFF;

  h2 {
    margin-top: 24px;
    margin-bottom: 32px;
    font-size: 32px;
    font-family: 'San Francisco', Helvetica, Arial, san-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 6.5px;
    padding-bottom: 6.5px;
    border-bottom: #FFFFFF 1px solid;
    width: 62.5%;

    span {
      font-size: 24px;
      margin-left: 16px;
    }
  }

  .footer-content {
    font-size: 24px;
    text-align: center;

    ul {
      li {
        margin-bottom: 16px;

        a {
          text-decoration: none;
          color: white;
        }

        a:hover {
          color: blue;
        }
      }
    }
  }

  .icon-link {
    margin-top: 4px;
    margin-bottom: 48px;
    width: 192px;
    display: flex;
    justify-content: space-between;
  }
}